body {
    font-family: 'Lato', sans-serif;
}
h1{
    margin-bottom: 40px;
}
label {
    color: #333;
}
.btn-send {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 20px;
    background-color: #2659ea;
    color: #fff;
}
.btn-send:hover{
    background-color: #2659ea;
}

.required_text{
    color: #222;
}

.active{
    background-color: #38b5de;
    color: #fff;
    transition-duration: .5s;
    text-decoration: none;
}
